@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

.text2{
	font-family: 'Roboto Slab', serif;
	font-size: 33px;
	font-weight:bold;
	color: white;
	word-spacing: 5px;
	letter-spacing: 8px;
	position: absolute; 

	animation:  bigslidein;
	animation-duration: 4s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(1,0,.92,1);
}

.text3{
	font-family: 'Roboto Slab', serif;
	font-size: 19px;
	font-weight:bold;
	color: white;
	letter-spacing: 5px;
	word-spacing: 2px;
	line-height: 28px;
	position: absolute; 

	animation:  smallslidein;
	animation-duration: 4s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(1,0,.92,1);
}

.text4{
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	text-align: left;
	color: white;
	word-spacing: 2px;
	line-height: 28px;
	position: absolute; 

	animation:rightslide;
	animation-duration: 4.5s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(1,0,.92,1);
}

.text5{
	width: 150px;
	height: 20px;
	font-family: 'Roboto Slab', serif;
	font-size: 16px;
	text-align: right;
	color: white;
	word-spacing: 2px;
	line-height: 28px;
	position: absolute;

	animation:leftslide;
	animation-duration: 4.5s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(1,0,.92,1);
}

.text6{
	font-family: 'Roboto Slab', serif;
	font-size: 15px;
	font-weight:bold;
	color: white;
	word-spacing: 2px;
	letter-spacing: 8px;
	position: absolute; 

	animation:  bigslidein;
	animation-duration: 4s;
	animation-fill-mode: forwards;
	animation-timing-function: cubic-bezier(1,0,.92,1);
}

.layer1{
	position: absolute;
	width: 100%;
	height: 80%;
	background-color:#09ACD2;

	animation: pink_world;
	animation-duration: 4s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
}

.layer0{
	position: absolute;
	width: 100%;
	height: 30%;
	background-color:#DFF2FC;

	animation: road;
	animation-delay: 2.5s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
}

.layer2{
	position: absolute;
	width: 100%;

	animation:  dissapear;
	animation-delay: 1s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
}

.layer5{
	position: absolute;
	width: 157px;

	animation:  dissapear;
	animation-delay: 1s;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
}


.layer6{
	position: absolute;
	width: 100px;

	animation: moving_ghost;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;

	transition-duration: 3s;
	transition-property: all;
	transition-timing-function: ease-in-out;
}

.layer9{
	position: absolute;
	width: 863px;

	animation:  dissapear;
	animation-duration: 6s;
	animation-fill-mode: forwards;
	animation-direction: reverse;
	animation-timing-function: cubic-bezier(1,0,.0,0.73);
}

.layer12{
	position: absolute;
	width: 475px;

	animation:  dissapear;
	animation-duration: 6.5s;
	animation-fill-mode: forwards;
	animation-direction: reverse;
	animation-timing-function: cubic-bezier(1,0,.0,0.73);
}

.layer13{
	position: absolute;
	width: 475px;

	animation:  dissapear;
	animation-duration: 6.5s;
	animation-fill-mode: forwards;
	animation-direction: reverse;
	animation-timing-function: cubic-bezier(1,0,.0,0.73);
}

@keyframes dissapear {
  0% {
       opacity: 100%;
  }

  100% {
       opacity: 0%
  }
}


@keyframes pink_world{
	0%{
		background-color:#09ACD2;
	}

	100%{
		background-color: #ED9FA8;
	}
}

@keyframes road{
	0%{
		background-color:#DFF2FC;
	}

	100%{
		background-color: #727171;
	}
}

@keyframes moving_ghost{
	 0% {
       margin-left: 0%; transform: rotate(0deg); opacity: 100%;
  }
     25% {
       margin-left: 0%; transform: rotate(20deg); opacity: 100%;
}

     75% {
       margin-left: 40%; transform: rotate(0deg); opacity: 100%;
}
  100% {
       margin-left: 40%; opacity: 0%;
  }
}

@keyframes bigslidein {
  0% {
    margin-right: 20%;
    width: 60%;
    opacity: 0%;
  }

  100% {
    margin-right: -16%;
    width: 62%;
    opacity: 100%;
  }
}

@keyframes smallslidein {
  0% {
    margin-right: 20%;
    width: 10%;
    opacity: 0%;
  }

  100% {
    margin-right: -5%;
    width:21%;
    opacity: 100%;
  }
}

@keyframes rightslide{
	0%{
		margin-right: -3%;
		width: 7%;
		opacity: 0%;
	}

	100%{
		margin-right: 3%;
		width: 9%;
		opacity: 100%;
	}
}

@keyframes leftslide{
	0%{
		margin-left: -3%;
		width: 4%;
		opacity: 0%;
	}
	100%{
		margin-left: 0.5%;
		width: 9%; 
		opacity: 100%;
	}
}
