@-webkit-keyframes soyeons{
	0% {
		margin-left: 0;
	}
	
	50%{
		margin-left: 100px;
	}
	100%{
		margin-left: 0;
	}
}

@-webkit-keyframes raymond{
	0%{
		transform: rotate(0deg);
	}

	50%{
		transform: rotate(180deg);
	}

	100%{
		transform: rotate(0deg);
	}
}
@keyframes sherlock{
	0%{
		transform: rotate(0deg) skewY(0deg);
		opacity: 1
	}
	50%{
		transform: rotate(360deg) skewY(90deg);
		opacity: 0
	}
	100%{
		transform: rotate(0deg) skewY(0deg);
		opacity: 1
	}
}

@keyframes keron{
	0%{
		transform: scale(1,1);
	}
	50%{
		transform: scale(0,0);
	}
	100%{
		transform: scale(1,1);
	}
}

@keyframes lemon{
	0% {
		opacity: 1
	}
	100% {
		opacity: 0
	}
}

@keyframes watson{
	0%{
		transform: rotate(0deg) scale(1,1); 
	}
	50%{
		transform: rotate(180deg) scale(2,2);
	}
	100%{
		transform: rotate(0deg) scale(1,1);
	}
}

@keyframes adeler{
	0%{
		transform: rotate(0deg) scale(1,1);
	} 

	50%{
		transform: rotate(360deg) scale(0,0);
	}

	100%{
		transform: rotate(0deg) scale(1,1);
	}
}

.box_red{
	width: 50px;
	height: 50px;
	float: left;
	background-color: red;
	animation:raymond;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;
	animation-play-state: paused;
	transition-property: all;
	transition-duration: 2s; 
	transition
}
.box_red:hover{
	animation-play-state: running;
	background-color: black;
}

.box_orange{
	width: 50px;
	height: 50px;
	float: left;
	background-color: orange;

	animation:keron;
	animation-duration: 2s;
	animation-timing-function: ease-in-out;	
	animation-iteration-count: infinite;
	animation-play-state: paused;

	transition-property: all;
}
.box_orange:hover{
	animation-play-state: running;
	transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
    background-color: green;
}

.box_yellow{
	width: 50px;
	height: 50px;
	float: left;
	background-color: yellow;

	animation:soyeons;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-play-state: paused;

	transition-property: all;
}
.box_yellow:hover{
	animation-play-state: running;
	transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
    width: 50px;
    height: 50px;
    background-color: blue;
}

.box_green{
	width: 50px;
	height: 50px;
	float: left;
	background-color: green;

	animation: sherlock;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-play-state: paused;
}
.box_green:hover{
	animation-play-state: running;
}

.box_lightgreen{
	width: 50px;
	height: 50px;
	float: left;
	background-color: lightgreen;

	animation:raymond;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-play-state: paused;

	transition-property: all;
}
.box_lightgreen:hover{
	animation-play-state: running;
	background-color: pink;
}

.box_skyblue{
	width: 50px;
	height: 50px;
	float: left;
	background-color: skyblue;

	animation:soyeons;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-play-state: paused;
}
.box_skyblue:hover{
	animation-play-state: running;
}

.box_blue{
	width: 50px;
	height: 50px;
	float: left;
	background-color: blue;

	animation:adeler;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-play-state: paused;
}
.box_blue:hover{
	animation-play-state: running;
}

.box_violet{
	width: 50px;
	height: 50px;
	float: left;
	background-color: violet;

	animation:lemon;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-play-state: paused;
}
.box_violet:hover{
	animation-play-state: running;
}

.box_purple{
	width: 50px;
	height: 50px;
	float: left;
	background-color: purple;

	animation:raymond;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-play-state: paused;
}
.box_purple:hover{
	animation-play-state: running;
}

.box_pink{
	width: 50px;
	height: 50px;
	float: left;
	background-color: pink;

	animation:watson;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-play-state: paused;

	transition-property: all;
}
.box_pink:hover{
	animation-play-state: running;
	background-color: white;
}